body{
    background-image: url(img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


h1{
    font-size: 55px;
    color: rgb(255, 245, 240);
    background: #313d6b7e;
    text-align: center;
margin:auto;
padding: 30px;
border: 2px rgb(255, 255, 255) solid;
border-radius: 10px 10px 10px;
box-shadow: 10px 13px  10px rgb(1, 13, 9);
}
h1:hover{
    color: white;
    background-color: #6f9aa369;
    transition: -4s;
}
div{
    /* background-image: url(img4.jpg); */
  background-color: #2838754b;
color: rgb(238, 238, 238);
margin-bottom: 10px;
background-size: cover;
margin: 30px;
height: 300px;
}


